# Copy these into Render -> Environment Variables

DJANGO_SECRET_KEY=replace-with-a-long-random-string
DEBUG=False
ALLOWED_HOSTS=your-app-name.onrender.com
DATABASE_URL=postgresql://neondb_owner:npg_ICfY5TxFb6zU@ep-blue-flower-aqmlq6yn-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
